.loader {
  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
  }
  &__loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  &__loader-container {
    width: 10rem;
    position: relative;
  }
}
