.grid {
  display: grid;
  width: max-content;

  &--horizontal {
    & > * {
      grid-row: 1/2;
    }
  }

  &--vertical {
    & > * {
      grid-column: 1/2;
    }
  }
  
  &--centered {
    align-items: center;
    justify-content: center;
  }
}
